/*
 * Nivo Lightbox Default Theme v1.0
 * http://dev7studios.com/nivo-lightbox
 *
 * Copyright 2013, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
.nivo-lightbox-theme-default.nivo-lightbox-overlay { 
	background: #666;
	background: rgba(0,0,0,0.6); 
}
.nivo-lightbox-theme-default .nivo-lightbox-content.nivo-lightbox-loading { background: url(../img/nivo-lightbox/default/loading.gif) no-repeat 50% 50%; }

.nivo-lightbox-theme-default .nivo-lightbox-nav {
	top: 10%;
	width: 8%;
	height: 80%;
	text-indent: -9999px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	opacity: 0.5;
}
.nivo-lightbox-theme-default .nivo-lightbox-nav:hover { 
	opacity: 1; 
	/*background-color: rgba(0,0,0,0.5);*/
}
.nivo-lightbox-theme-default .nivo-lightbox-prev { 
	background-image: url(../img/nivo-lightbox/default/prev.png); 
	border-radius: 0 3px 3px 0;
}
.nivo-lightbox-theme-default .nivo-lightbox-next { 
	background-image: url(../img/nivo-lightbox/default/next.png); 
	border-radius: 3px 0 0 3px;
}

.nivo-lightbox-theme-default .nivo-lightbox-close {
	display: block;
	background: url(../img/nivo-lightbox/default/close.png) no-repeat 5px 5px;
	width: 16px;
	height: 16px;
	text-indent: -9999px;
	padding: 5px;
	opacity: 0.5;
}
.nivo-lightbox-theme-default .nivo-lightbox-close:hover { opacity: 1; }

.nivo-lightbox-theme-default .nivo-lightbox-title-wrap { bottom: -7%; }
.nivo-lightbox-theme-default .nivo-lightbox-title {
	font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	background: #000;
	color: #fff;
	padding: 7px 15px;
	border-radius: 30px;
}

.nivo-lightbox-theme-default .nivo-lightbox-image img {
	background: #fff;
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
	   -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
	        box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
}
.nivo-lightbox-theme-default .nivo-lightbox-ajax,
.nivo-lightbox-theme-default .nivo-lightbox-inline {
	background: #fff;
	padding: 40px;
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
	   -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
	        box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
}

@media (-webkit-min-device-pixel-ratio: 1.3),
       (-o-min-device-pixel-ratio: 2.6/2),
       (min--moz-device-pixel-ratio: 1.3),
       (min-device-pixel-ratio: 1.3),
       (min-resolution: 1.3dppx) {

	.nivo-lightbox-theme-default .nivo-lightbox-content.nivo-lightbox-loading { 
		background-image: url(../img/nivo-lightbox/default/loading@2x.gif); 
		background-size: 32px 32px;
	}
	.nivo-lightbox-theme-default .nivo-lightbox-prev { 
		background-image: url(../img/nivo-lightbox/default/prev@2x.png); 
		background-size: 48px 48px;
	}
	.nivo-lightbox-theme-default .nivo-lightbox-next { 
		background-image: url(../img/nivo-lightbox/default/next@2x.png); 
		background-size: 48px 48px;
	}
	.nivo-lightbox-theme-default .nivo-lightbox-close { 
		background-image: url(../img/nivo-lightbox/default/close@2x.png); 
		background-size: 16px 16px;
	}
	
}


/*rensive menu styling start here*/

 .toggleMenu {
    display:  none;	
	 background: #198dc7;
    padding: 10px 15px;
    color: #fff;
	 float: right;
	 width: 100%;
	text-align: center;
	margin-bottom: 15px;
}
 .nav {
    list-style: none;
     *zoom: 1;
    /* background:#175e4c;*/
}
.nav:before,
 .nav:after {
    content: " "; 
    display: table; 
}
 .nav:after {
    clear: both;
}
 .nav ul {
    list-style: none;
    width: 9em;
}
 .nav a {
    padding: 10px 15px;
    color:#fff;
}
 .nav li {
    position: relative;
}
 .nav > li {
    float: left;
    /*border-top: 1px solid #104336;*/
}
 .nav > li > .parent {
    background-image: url("images/downArrow.png");
    background-repeat: no-repeat;
    background-position: right;
}
 .nav > li > a {
    display: block;
}
 .nav li  ul {
    position: absolute;
    left: -9999px;
}
 .nav > li.hover > ul {
    left: 0;
}
 .nav li li.hover ul {
    left: 100%;
    top: 0;
}
 .nav li li a {
    display: block;
    background: #1d7a62;
    position: relative;
    z-index:100;
    border-top: 1px solid #175e4c;
}
.nav li li li a {
    background:#249578;
    z-index:200;
    border-top: 1px solid #1d7a62;
}

@media screen and (max-width: 768px) {
    .navigation .active {
        display: block;
    }
    .navigation .nav > li {
        float: none;
    }
    .navigation .nav > li > .parent {
        background-position: 95% 50%;
    }
   .navigation .nav li li .parent {
        background-image: url("images/downArrow.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    .navigation .nav ul {
        display: block;
        width: 100%;
    }
   .navigation .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }
	 
	 .navigation ul {
			width: 100%;
			text-align: center;
			margin-right: 0px;
	}

	.navigation ul li a {
		padding: 9px 9px 10px;
	}
	
	/*.without_scroll {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
	}*/
	
	
	.responsive_scroll-top a{
		z-index: 21;
		width: 44px;
		height: 44px;
		border-radius: 50%;
		text-align: center;
		line-height: 43px;
		background: #000;
		position: fixed;
		bottom: 20px;
		right: 20px;
		text-transform: uppercase;
		font-size: 16px;
		color: #fff;
		opacity: 0.3;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
		-webkit-transition: all .2s linear;
		-moz-transition: all .2s linear;
		-o-transition: all .2s linear;
		-ms-transition: all .2s linear;
		transition: all .2s linear;
		cursor: pointer;
	}
	
	.responsive_scroll-top a:hover {
		background-color: #198dc7;
		color: #fff;
		text-decoration: none;
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	}
	
	
}

@media screen and (max-width: 480px) {
	.toggleMenu {
		width: 90% !important;
	}

	
	
	
}

@media screen and (min-width: 767px) {
	.responsive_scroll-top{
		display: none;
	}

}

.news_section{
	width: 33%;
	/* float: left; */
} 

.newletter_container{
	text-align: center;
	background-color:#f3f3f3;
	width: 1008px;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	
}

.enter{ 
	width: 30%;
	height: 21px;
	border: 4px solid rgba(184, 183, 183, 0.41);
	padding: 10px 0 10px 20px;
	font-size: 17px;
	text-align: center;
	/*text-transform: uppercase;*/
	float: left;
    margin-left: 360px;
	margin-top: -12px;
}

.enter_mail{
	border: none;
	width: 10%;
	font-size: 15px;
	height: 41px;
	background: #198dc7;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: 100;
	margin-top: -12px;
	margin-right: 174px;
}


.enter_mail:hover{
	background: #373737;
}

p{
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		font-weight:400;
		color: rgb(111, 111, 111);
		text-align:justify;
	}

.dirctoreis{
	width: 100%;
	float:left;
	font-family: 'Open Sans', sans-serif;
	font-weight:100;
	margin-bottom: 40px;
}

.list{
	width: 30%;
	float:left;
	margin-right:2%;
}

.dirctoreis> .list:nth-child(3n+3){
	margin-right:0;
}


.list h1{
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight:500;
	color:#198dc7;
    line-height: normal;
}

.list h1 a:hover{
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight:500;
	color:#198dc7;
    line-height: normal;
	 text-decoration: underline;
}

.list i {
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #666666;
	padding: 1px 5px 1px 5px;
	border: 1px solid rgba(128, 128, 128, 0.1);
	margin-right: 10px;
	background-color: rgba(128, 128, 128, 0.03);
}

.list i:hover {
	background-color: #198dc7;
	color: #fff;
	cursor:pointer;
}

.list a{
	color:#198dc7;
	text-decoration: none;
}

@media(max-width: 500px){
		
.list{
	width: 100%;
	margin-right: 0;
}

}

/*================================
full page css styling
=================================*/

.full_deatils h1{
	font-size: 25px;
	font-family: 'Open Sans', sans-serif;
	font-weight:500;
	color:#198dc7;
	margin-top: 30px;
}

.dirctoreis a{
	color:#198dc7;
	text-decoration: none;
}

.full_deatils .content{
	width:100%;
	float:left;
}

.full_deatils .content h2{
	font-size:15px;
	font-family: 'Open Sans', sans-serif;
	font-weight:500;
}

.full_deatils .content i{
	font-style:normal;
	color:#333333;
}
